//
   Created by molly on 3/22/16.

extends layout

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Title
            input(type="text", name="song", id = 'song')
        div.actions
            input(type="submit", value="search")