extends layout

block content
  h1= title
  p Welcome to the #{title}
  p Here you can: create or join a party, search for songs, add songs to a queue, vote for a song to go up/ down in the queue, and when the party is finished, export the songs as a playlist!
